.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}
/*estilo para btn more*/
#dropdownDetails {
    background-color: #0960eb; 
    color: white; 
    border: none;
}

#dropdownDetails:hover {
    background-color: #001bb3; 
}

.dropdown-menu {
    background-color: #6c757d; 
    color: white; 
}

.dropdown-item {
    color: white; 
}

.dropdown-item:hover {
    background-color: #495057; 
}

.offcanvas {
    background-color: #343a40; 
    color: white; 
}

.offcanvas-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Borde blanco sutil */
}

